if SHIELD_JWKBD_V1_LEFT

config ZMK_KEYBOARD_NAME
    default "jwkbd_v1"

config ZMK_SPLIT_ROLE_CENTRAL
    default y

endif # SHIELD_JWKBD_V1_LEFT

if SHIELD_JWKBD_V1_LEFT || SHIELD_JWKBD_V1_RIGHT

config ZMK_SPLIT
    default y

endif # SHIELD_JWKBD_V1_LEFT || SHIELD_JWKBD_V1_RIGHT
